#container {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column; 
    border: 5px solid;
    margin-left: 600px;
    margin-right: 600px;
}

#display{
    border: 2px solid;
    border-color: black;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(201, 201, 201);
    text-align: end;
    
       
}

.numbers {
    display: flex;
    border: 2px solid;
    border-color: black;
    box-sizing: border-box; 
   
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;   
}

.top,
.topMiddle,
.bottomMiddle,
.bottom {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
}

.operation {
    border: 2px solid;
    border-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
       
    
}

.plus,
.minus,
.for,
.divide {
    border: 2px solid;
    border-color: black;
    text-align: center;
    flex: 1;
    width: 100px;
    height: 100px; 
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero,
.dot,
.delete {
    border: 2px solid;
    border-color: black;
    flex: 1;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    background-color: gainsboro;
    font-size: 20px;
    font-weight: bold;
    
}
.delete{
    background-color: red;
}

.result{
    border: 2px solid;
    border-color: black;
    font-size: 20px;
    font-weight: bold; 
    height: 50px;
    text-align: center;
    justify-content: center;
}